/*
float: left/right
position: absolute/relative/fixed
*/

/***** 공통사항 *****/
.wrap {width:100%; max-width:1400px; margin:auto;}

/***** tops *****/
.tops {width: 100%; padding: 8px 16px; background-color:#fff; 
	box-shadow: 0 0 10px rgba(0,0,0,0.4); letter-spacing: 4px; position: fixed; top: 0; left: 0; z-index: 9999;}
.logo {float: left; padding: 12px; cursor: pointer;}
.logo:hover {background-color: #ccc;}
.logo > span {font-weight: bold; margin-right:8px;}
.navs {float: right;}
.nav {float: left; padding: 12px 18px; cursor: pointer;}
.nav:hover {background-color: #ccc;}

/***** bans *****/
.bans {position: relative;}
.ban_tit {font-size: 36px; letter-spacing: 4px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.ban_tit > span {font-weight: bold; margin-right:16px; background-color: rgba(0,0,0,0.5); padding:8px 12px;}


.sample {font-size: 100px; font-weight: bold;}