/***** 공통사항 *****/
.wrap {width:100%; max-width:1400px; margin:auto;}
.main_tit {padding: 12px 0; border-bottom: 1px solid #999;}

/***** tops *****/
.tops {width: 100%; padding: 8px 16px; background-color:#fff; 
	box-shadow: 0 0 10px rgba(0,0,0,0.4); letter-spacing: 4px; position: fixed; top: 0; left: 0; z-index: 9999;}
.logo {float: left; padding: 12px; cursor: pointer;}
.logo:hover {background-color: #ccc;}
.logo > span {font-weight: bold; margin-right:8px;}
.navs {float: right;}
.nav {float: left; padding: 12px 18px; cursor: pointer;}
.nav:hover {background-color: #ccc;}

/***** bans *****/
.bans {position: relative;}
.ban_tit {font-size: 36px; letter-spacing: 4px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); color: #fff;}
.ban_tit > span {font-weight: bold; margin-right:16px; background-color: rgba(0,0,0,0.5); padding:8px 12px;}

/***** prjs *****/
.prjs {width: 100%; margin: 100px auto;}
.prjs > ul {margin-top: 50px; width: 101%; margin-left: -0.5%;}
.prj {width: 24%; margin: 0.5%; float: left; position: relative;}
.prj:hover {opacity: 0.9;}
.prj > .sub_tit {background-color: rgba(0,0,0,0.9); color:#fff; padding:8px; position: absolute; top: 0; left: 0;}

/***** abouts *****/
.abouts {width: 100%; margin: 100px auto;}
.about_cont {margin: 24px 0;}
.abouts > ul {margin-top: 50px; width: 101%; margin-left: -0.5%;}
.member {width: 24%; margin: 0.5%; float: left;}
.member_name {margin: 16px 0;}
.member_job {margin: 16px 0; color:#999;}
.member_cont {margin: 16px 0;}
.bt_contact {padding: 12px; background: #eee; text-align: center; cursor: pointer;}
.bt_contact:hover {background-color: #333; color:#fff;}
.member > div {overflow: hidden;}
.member > div > img {transition: transform 1s; }
.member > div > img:hover {transform: scale(1.1);}

/***** contacts *****/
.contacts {width: 100%; margin: 100px auto;}
.contact_cont {margin: 24px 0;}
li.contact {margin: 8px 0;}
li.contact > input {width: 100%; padding: 12px; border: 1px solid #ccc;}